.js-clock {
  font-size: 12rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Wallpoet", cursive;
  margin-bottom: 25px;
  margin-top: 50px;
  color: #fff;
  /* border: 5px solid #ffd51c; */
}

.js-clock .clock__sep {
  font-size: 7rem;
  margin: 0 14px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.js-clock .clock__meridiem-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 1.5rem;
}

.clock__line {
  width: 100%;
  margin: 20px 0;
  border: 1px solid rgba(255, 255, 255, 0.75);
}

.js-clock .clock__seconds {
  color: #fff;
}
