.js-clock {
  font-size: 9rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -40px 0 40px 0;
  color: #fff;
  z-index: 1;
  text-align: center;
  overflow-y: hidden;
}

.js-clock > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.js-clock .clock__sep {
  font-size: 6rem;
  margin: 0 14px;
}

.js-clock .clock__meridiem-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-left: 1rem;
}

.clock__meridiem {
  opacity: 0.5;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.clock__line {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.3);
}

.js-clock .clock__seconds {
  color: #fff;
  padding-block-start: 15px;
}
