@import "./fonts.css";
@import "./reset.css";
@import "./noSupport.css";
@import "./bg.css";
@import "./clock.css";
@import "./toDoList.css";
@import "./weather.css";

body {
  background: #2c3e50;
  width: 100vw;
  height: 100vh;
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.form,
.greetings {
  display: none;
}

.input-form {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 1.75rem;
  text-align: center;
  color: #fff;
  padding: 5px 0;
  font-weight: 500;
}

.input-form::placeholder {
  color: #fff;
  opacity: 0.85;
}

.showing {
  display: block;
  z-index: 1;
}

.showing--flex {
  display: flex;
}

.greetings {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.075rem;
  word-spacing: 5px;
  opacity: 0.95;
}
