#friends-display-link {
  text-align: center;
  display: block;
  background-color: var(--gray-100);
  padding: 12px 0px;
  font-size: 12px;
  color: var(--gray-500);
  margin-bottom: var(--horizontal-space);
  margin-top: -8px;
}

#friends-display-link i {
  color: var(--gray-300);
}

.friends-screen {
  padding: 0 var(--horizontal-space);
}

.friends-screen__channel {
  padding-top: 10px;
  margin-top: -8px;
  border-top: 1px solid var(--gray-200);
}

.friends-screen__channel-header {
  margin-bottom: var(--horizontal-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-ui-400);
  font-size: 12px;
}
