.welcome-header {
  margin: 80px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-tutorial-slider {
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s ease-in-out;
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  padding: 0 30px;
  overflow: hidden;
}

.tutorial-slider__title {
  margin-top: 15vmin;
  line-height: 1.4;
}

.tutorial-slider__text {
  width: 100% !important;
  font-size: 1rem !important;
  margin: 16px 0px;
}

.tutorial-slider__cover {
  max-width: 100vmin;
}

.tutorial-slider__cover img {
  width: 100%;
}

.tutorial-slider__btn {
  margin: 16px 0px !important;
  background-color: var(--red-200) !important;
}

.welcome-header__cover {
  max-width: 35vmin;
  margin: 9px auto;
}

.welcome-header__cover img {
  width: 100%;
}

.welcome-header__title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 500;
  color: var(--gray-500);
  /* color: var(--blue); */
}

.welcome-header__text,
.welcome-header__text--sm {
  width: 75%;
  font-size: 15px;
}

.welcome-header__text--sm {
  font-size: 13px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.login-form__btn {
  border: none;
  padding: 20px 0px;
  font-size: 16px;
  width: 100%;
}

.login-form__btn:not([type="submit"]) {
  border-bottom: 1px solid var(--gray-200);
  transition: border-color 0.3s ease-in-out;
}

.login-form__btn:not(:first-child) {
  margin-bottom: 32px;
}

.login-form__btn::placeholder {
  color: var(--gray-300);
}

.login-form__btn:focus {
  border-color: var(--gray-400);
}

.login-form__btn[type="submit"] {
  background-color: var(--blue);
  padding: 16px 0;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.login-form__text,
.login-form__a {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.login-form__a {
  color: var(--blue);
  font-weight: 500;
}
