:root {
  --yellow: #fbbc05;
  --blue: #6c63ff;
  --red-100: #ea4335;
  --red-200: #db4a39;
  --green: #34a853;
  --gray-100: #f1f3f4;
  --gray-200: #dee1e6;
  --gray-300: #babcbe;
  --gray-400: #5f6368;
  --gray-500: #535353;
  --gray-600: #202124;
}
