.js-toDo__header {
  width: 25%;
  padding: 30px 10px;
}

.js-toDo__profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
}

.js-toDo__profile p {
  font-size: 12px;
}

.js-toDo__profile p:first-child {
  padding-right: 10px;
  font-size: 40px;
}

.profile__info {
  display: flex;
  flex-direction: column;
}

.profile__thumbnail,
.profile__name {
  color: var(--blue-100);
}

.profile__name {
  font-weight: 500;
  font-size: 15px;
}

.profile__email {
  color: var(--gray-300);
}

.js-toDo__contextmenu {
  list-style: none;
  margin: auto -10px;
  padding-bottom: 15px;
}

.js-toDo__contextmenu .contextmenu__item {
  padding: 10px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.js-toDo__contextmenu .contextmenu__item i {
  margin-right: 10px;
}

li.contextmenu__item.active {
  background-color: var(--blue-opacity-1);
  color: var(--blue-100);
}

li.contextmenu__item.active::before {
  content: "";
  height: 20px;
  border-left: 2px solid var(--blue-100);
  margin-right: 10px;
}

.js-toDo__header hr {
  border: 1px solid var(--gray-opacity-8);
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .js-toDo__header {
    background-color: var(--blue-opacity-8);
    color: var(--gray-100);
    padding: 0 30px;
  }
  .js-toDo__profile {
    display: none;
  }
  .js-toDo__contextmenu {
    padding-bottom: 0;
  }

  li.contextmenu__item.active {
    color: var(--gray-100);
    background-color: transparent;
  }

  li.contextmenu__item.active::before {
    /* border-left: 2px solid var(--gray-100); */
    display: none;
  }

  .js-toDoForm--header input[type="text"],
  .js-toDo__header hr {
    display: none;
  }
}
