@import "./variables.css";

.js-toDo__content::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.js-toDo__content::-webkit-scrollbar-thumb {
  background-color: var(--gray-200);
}
