.nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--gray-100);
  padding: 18px 36px;
  border-top: 1px solid var(--gray-200);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: var(--gray-400);
  position: relative;
}

.nav__notification,
.nav__notification--dot {
  position: absolute;
  left: 12px;
  bottom: 9px;
}

.nav__notification--dot {
  width: 6px !important;
  height: 6px !important;
  border-radius: 3px;
  left: 21px;
  bottom: 18px;
}
