.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 500;
  color: var(--gray-600);
}

.screen-header__icons span {
  margin-left: 14px;
}
